{{ attach_library('ajase/ajase') }}

<h1>{{ name }}</h1>
<div class="row" style="margin-bottom: 50px;">
    <div class="col-sm-3">
        <div class="ajax_form__form">{{ form }}</div>

        <div id="reload_table">
            <table class="reloadTable" border="2">
                <thead>
                <tr>
                    <td>Id</td>
                    <td>Latitude</td>
                    <td>Longitude</td>
                </tr>
                </thead>
                <tbody id="reloadTable__tbody">
                {% for arr in list %}
                    <tr>
                        <td>{{ arr.id }}</td>
                        <td>{{ arr.latitude }}</td>
                        <td>{{ arr.longitude }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-9">
        <div id="ajax_form_map" style="width: 100%; height: 400px;"></div>
    </div>

</div>

